body{
    background-image: url("zebra.jpg");
    background-repeat: no-repeat;
    background-size : cover;
}
.container{
  /*  background : linear-gradient(to left,#0000b3,
    #b3b3ff);
    box-shadow: 3px 5px 3px  black;*/
    
}

h1{
    color:#ffffff;
    text-shadow: 2px 2px black;
} 
h2{
    color: rgb(240, 0, 52);
    text-shadow: 2px 2px black;
}
.demo{
    border: 2px dashed red;
}
ul{
    color: white;
}
ul>li{
    color: skyblue;
}
li{
    color:yellow;
}